html,
body {
    height: 100%;
}
body {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  min-height: 100% !important;
}
div
{

}

#container
{
display:none!important;
}

#ie
{
	display:block!important;
	font-size:30px;
	text-align: center;
	padding-top: 50px;
}