html,
body {
    height: auto;
}
body {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  //min-height: 100% !important;
}
div
{

}
#ie{display:none;}
input[type=text]
{
	text-align: center;
}
.headerrow {
	background-color:#e4e4e4;
}

.tohide  {
	background-color:#037b00;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	margin-top: 10px;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.text1
{
	height:33px;
	width:82px;
}
.text2
{
	height:13px;
	width:261px;
}
.text3
{
	height:34px;
	width:261px;
}
.text4
{
	height:13px;
	width:80px;
}
.text5
{
	height:33px;
	width:172px;
}
.text5_smaller
{
	height:13px;
	width:172px;
}
.text6
{
	height:33px;
	width:259px;
}
.text6_smaller
{
	height:13px;
	width:259px;
}
.text7
{
	height:33px;
	width:76px;
}
.text7_smaller
{
	height:13px;
	width:76px;
}
.text8
{
	height:33px;
	width:172px;
}
.text8_smaller
{
	height:13px;
	width:172px;
}
.text9
{
	height: 87px;
  width: 437px;
}
.text10
{
	height: 55px;
  width: 342px;
}
.text11
{
	height: 70px;
	width: 441px;
}
textarea {
   resize: none;
}
#container
{
	width: 900px;
  //height: 1300px;
  margin: 0 auto;
  //padding-top: 30px;

}
.row
{
	width: 100%;
	border:1px solid black;
	//padding: 5px;
}
#row1
{
	height:115px;
}
#row2
{
	height:183px;
	margin-top: 5px;
}
#row3
{
	height:142px;
	margin-top: 5px;
}
#row4
{
	height:261px;
	margin-top: 5px;
}
#row5
{
	height:220px;
	margin-top: 5px;
}
#row6
{
	height:177px;
	margin-top: 5px;
}
.col
{
	height:100%;
}

/* row 1 */

#row1 #col1, #row1 #col2
{
	width:449px;
	float:left;
	display:inline;
}
#row1 #col1
{
	border-right:1px solid black;
}
#row1 #col1 #row1
{
	height:76px;
	border-bottom: 1px solid black;
	//background: grey;
}
#row1 #col1 #row2
{
	  height: 40px;
	  font-size: 11px;
	  text-align: center;
}
#row1 #col2 #row1
{
	height:19.5px;
	border-bottom: 1px solid black;
	/*background: grey;*/
}
#row1 #col2 #row2
{
	
	height:22px;
	border-bottom: 1px solid black;
	//background: grey;
}
#row1 #col2 #row3
{
	height:22px;
	border-bottom: 1px solid black;
	//background: grey;
}
#row1 #col2 #row4
{
	height:17.5px;
	border-bottom: 1px solid black;
	//background: grey;
}
#row1 #col2 #row5
{
	height:30%;
	//border-bottom: 1px solid black;
	//background: grey;
	margin:0;
}
#row1 #col2 #row5 #col1
{
	height: 100%;
	width:250px;
	font-size: 10px;
  text-align: center;
  padding-top: 5px;
}
#row1 #col2 #row5 #col2
{
	height: 90%;
	width:198px;
	border:none;
	font-size: 10px;
  text-align: center;
  padding-top: 5px;
}

/* row2 */

#row2 #row1, #row2 #row3, #row3 #row1, #row3 #row2, #row4 #row1, #row5 #row1, #row5 #row3, #row6 #row1
{
	width: 100%;
	height: 14px;
	border-bottom:1px solid black;
	font-size: 10px;
	text-align: center;
	padding-top: 1px;

}
#row2 #col1
{
	width:40%;
	height:168px;
	border-right: 1px solid black;
	float: left;
}
#row2 #col2
{
	width: 539px;
 	height: 168px;
 	float: left;
}
#row2 #col2 #row1, #row2 #col2 #row3
{
	box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  height:16px;
	  margin:0;
}
#row2 #col2 #row2, #row2 #col2 #row4
{
	box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  height:40px;
	   margin:0;
	   border-bottom:1px solid black;
}
#row2 #col2 #row5
{
	box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  height: 55px;
	   margin:0;
	  // border-bottom:1px solid black;
}
#row2 #col2 #row1 .row2, #row2 #col2 #row3 .row2
{
	width: 16.66%;
	  float: left;
	  height: 15px;
	  border-right: 1px solid black;
	  box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
}

#row2 #col2 #row1 #col1, #row2 #col2 #row1 #col3
{
	width:179.5px;
}
#row2 #col2 #row1 #col4
{
	border:none;
}
#row2 #col2 #row2 .row2, #row2 #col2 #row4 .row2
{
	width: 16.66%;
	  float: left;
	  height: 40px;
	  border-right: 1px solid black;
	  font-size: 10px;
	  box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
}
#row2 #col2 #row2 #col1, #row2 #col2 #row2 #col3
{
	width:33.32%;
	padding-top:8px;
	text-align: center;
}
#row2 #col2 #row2 #col4
{
	border:none;
}
#row2 #col2 #row5 .row2
{
	height:56px;
}
#row2 #col2 #row3 #col5, #row2 #col2 #row4 #col5
{
	border-right:0;
	width:33.33%;
	}
#row2 #col2 #row4 #col5
{
	width:33.33%;
	}
#row2 #col2 #row4 #col6, #row5 #col2 #row4 #col6
{
	padding:0;
	text-align:center;
}
#row2 #col2 #row5 #col1
{
	width: 358px;
}
#row2 #col2 #row5 #col2
{
	width: 180px;
}
#row2 #col2 #row1 #col6, #row2 #col2 #row2 #col6, #row2 #col2 #row3 #col6, #row2 #col2 #row4 #col6
{
	border:none;
}
#row2 #col2 #row5 #col1 .col2
{
	border: none;
}
#row2 #col2 #row5 #col1 #row2
{
	font-size:10px;
	height: 40px;
	padding-left:5px;
	padding-right:5px;
	width:338px;
}
#row2 #col2 #row5 #col2 #row4
{
	height:21px;
	border:none;
}
#row5 #col2 #row2 #col1
{
	text-align: center;
}
/* row3 */

#row3 .col, #row4 .col
{
	height: 108px;
	float:left;
	border-right:1px solid black;
}
#row3 #col1
{
	width:10%;
}
#row3 #col2
{
	width:269px;
}
#row3 #col3
{
	width:179px;
}
#row3 #col4
{
	width:89px;
}
#row3 #col5
{
	width:269px;
	border:none;
}
#row3 #row2
{
	float: left;
  margin: 0;
  border: none;
  border-top: 1px solid black;
}
#row3 #col1 .col1, #row3 #col2 .col2, #row3 #col3 .col3, #row3 #col4 .col4, #row3 #col5 .col5
{
	width: 100%;
	height: 20px;
	border:none;
	border-bottom:1px solid black;
	font-size: 10px;
	text-align: center;
	padding-top: 1px;
	float:left;
	margin:0;
}
#row3 #col1 #row4, #row3 #col2 #row4, #row3 #col3 #row4
{
	height:41px;
}
#row3 #col4 #row4, #row3 #col5 #row4
{
	height:20px;
}
#row3 #col4 #row5, #row3 #col5 #row5
{
	border:none;
	height:13px;
}
#row3 #col3 #row1 .row1
{
	width:50%;
	height:20px;
	float:left;
}
#row3 #col3 #row1 #col1
{
	width:88.5px;
	border-right:1px solid black;
}
.degat
{
	position: absolute;
}
#degat1
{
	margin-left:40px;
	margin-top:20px;
}
#degat2
{
	margin-left:60px;
	margin-top:20px;
}
#degat3
{
	margin-left:80px;
	margin-top:20px;
}
#degat4
{
	margin-left:100px;
	margin-top:20px;
}
#row3 #col5 #row4 .row4, #row3 #col5 #row5 .row5
{
	width: 89px;
  height: 20px;
  float: left;
  border-right: 1px solid black;
}
#row3 #col5 #row4 #col3, #row3 #col5 #row5 #col3
{
	width: 88px;
  border: none;
}
#row4 .col
{
	height:113px;
	border-bottom:1px solid black;
}
#row4 #col1, #row4 #col2
{
	width:20%;
}
#row4 #col3, #row4 #col4
{
	width: 268px;
}
#row4 #col4
{
	border:none;
	border-bottom:1px solid black;
}
#row4 #col1 .col1, #row4 #col2 .col2, #row4 #col3 .col3
{
	border-bottom:1px solid black;
	font-size: 10px;
	text-align: center;
	padding-top: 1px;
	//float:left;
	margin:0;
}
#row4 #col3 #row4 .row4, #row4 #col3 #row6 .row6
{
	float:left;
}
#row4 #col1 #row1, #row4 #col1 #row3, #row4 #col1 #row5, #row4 #col2 #row1, #row4 #col2 #row3, #row4 #col2 #row5, #row4 #col3 #row3, #row4 #col3 #row5
{
	height:14px;
}
#row4 #col1 #row2, #row4 #col1 #row4, #row4 #col1 #row6, #row4 #col2 #row2, #row4 #col2 #row4, #row4 #col2 #row6, #row4 #col3 #row2, #row4 #col3 #row4, #row4 #col3 #row6, #row4 #col3 #row4 .row4, #row4 #col3 #row6 .row6
{
	height:20px;
}
#row4 #col2 #row3 .row3, #row4 #col2 #row5 .row5
{
	width:89px;
	border-right:1px solid black;
	height: 14px;
	float:left;
}
#row4 #col2 #row3 #col2, #row4 #col2 #row5 #col2
{
	border:none;
}
#row4 #col3 #row3 .row3, #row4 #col3 #row5 .row5
{
	height: 14px;
	float: left;
}
#row4 #col3 #row3 #col1, #row4 #col3 #row5 #col1, #row4 #col3 #row4 #col1, #row4 #col3 #row6 #col1
{
	width: 85px;
	border-right: 1px solid black;
}
#row4 #col3 #row3 #col2, #row4 #col3 #row5 #col2, #row4 #col3 #row4 #col2, #row4 #col3 #row6 #col2
{
	width:182px;
}
#row4 #col4 #row2, #row4 #col4 #row3, #row4 #col4 #row4, #row4 #col4 #row6
{
	margin:0;
}
#row4 #col4 #row1 .row1, #row4 #col4 #row3 .row3
{
	height:14px;
	float:left;
	border-bottom:1px solid black;
}
#row4 #col4 #row3 .row3
{
	height:15px;
	width: 89px;
	border-right:1px solid black;
}
#row4 #col4 #row4 .row4, #row4 #col4 #row6 .row6
{
	height:21px;
	width: 89px;
	border-right:1px solid black;
	border-bottom:1px solid black;
	float:left;
}
#row4 #col4 #row3 #col2, #row4 #col4 #row4 #col2, #row4 #col4 #row6 #col2
{
	width:91px;
}
#row4 #col4 #row3 #col3, #row4 #col4 #row4 #col3, #row4 #col4 #row6 #col3
{
	border-right:none;
	width:86px;
}
#row4 #col4 #row2, #row4 #col4 #row4, #row4 #col4 #row6
{
	height:20px;
}
#row4 #col4 #row3
{
	height:14px;
	//border-bottom:1px solid black;
}
#row4 #col4 #row1 #col1, #row4 #col4 #row2 #col1
{
	width:180px;
	border-right:1px solid black;
}
#row4 #col4 #row1 #col2, #row4 #col4 #row2 #col2
{
	width:87px;
}
#row4 #col4 #row2 .row2
{
	height:21px;
	float:left;
	border-bottom:1px solid black;
}
#row4 #col4 #row5
{
	height:16px;
	border-bottom: 1px solid black
}
#row4 #col4
{
	font-size: 10px;
	text-align: center;
}
#row4 #col4 #row6 #col2, #row4 #col4 #row6 #col3
{
	border-bottom:none;
	height: 22px;
}
#row4 #col5
{
	height:132px;
	width: 630px;
	float:left;
	margin:0;
	border-right: 1px solid black;
	border-bottom: none;
	font-size: 10px;
	text-align: center;
}
#row4 #col6
{
	width:248px;
	float:left;
	margin:0;
	border-right:none;
	border-bottom: none;
	padding:10px;
	height:118px;
	font-size:8px;
	line-height: 7px;
}

/* row6 */

#row5 #col1
{
	width:40%;
	height:204px;
	border-right: 1px solid black;
	float: left;
}
#row5 #col2
{
	width: 539px;
 	height: 204px;
 	float: left;
}
#row5 #col2 #row1, #row5 #col2 #row3
{
	box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  height:16px;
	  margin:0;
}
#row5 #col2 #row2, #row5 #col2 #row4
{
	box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  height:40px;
	   margin:0;
	   border-bottom:1px solid black;
}
#row2 #col2 #row5 #col2 #row4, #row5 #col2 #row5 #col2 #row4 
{
	margin-left:24px;
}
#row5 #col2 #row5
{
	box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  height: 72px;
	   margin:0;
	  // border-bottom:1px solid black;
}
#row5 #col2 #row1 .row2, #row5 #col2 #row3 .row2
{
	width: 16.66%;
	  float: left;
	  height: 15px;
	  border-right: 1px solid black;
	  box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
}
#row5 #col2 #row1 #col1, #row5 #col2 #row1 #col3
{
	width:33.32%;
}
#row5 #col2 #row1 #col4
{
	border:none;
}
#row5 #col2 #row2 .row2, #row5 #col2 #row4 .row2
{
	width: 16.66%;
	  float: left;
	  height: 40px;
	  border-right: 1px solid black;
	  font-size: 10px;
	  box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
}
#row5 #col2 #row2 #col1, #row5 #col2 #row2 #col3
{
	width:33.32%;
	padding-top:8px;
}
#row5 #col2 #row2 #col4
{
	border:none;
}
#row5 #col2 #row5 .row2
{
	height:93px;
}
#row5 #col2 #row5 #col1
{
	width: 358px;
}
#row5 #col2 #row5 #col2
{
	width: 180px;
}
#row5 #col2 #row1 #col6, #row5 #col2 #row2 #col6, #row5 #col2 #row3 #col6, #row5 #col2 #row4 #col6
{
	border:none;
}
#row5 #col2 #row5 #col1 .col2
{
	border: none;
}
#row5 #col2 #row5 #col1 #row2
{
	font-size:10px;
	height: 76px;
	padding-left:5px;
	padding-right:5px;
	width:338px;
}
#row5 #col2 #row5 #col2 #row4
{
	height:21px;
	border:none;
}
#row5 #col2 #row2 #col3, #row5 #col2 #row1 #col3
{
	border-right: none;
}
#row6 .row6
{
	width:100%;
	border-bottom:1px solid black;
	margin:0;
}
#row6 #row2, #row6 #row4
{
	height:14px;
}
#row6 #row3
{
	height:40px;
}
#row6 #row5
{
	height:90px;
}
#row6 #row2 .row2, #row6 #row4 .row4
{
	height:14px;
	margin:0;
	border-right:1px solid black;
	float:left;
	font-size: 10px;
	text-align: center;
}
#row6 #row3 .row3
{
	height:40px;
	margin:0;
	border-right:1px solid black;
	float:left;
	font-size: 10px;
	text-align: center;
}
#row6 #row2 #col1, #row6 #row2 #col2, #row6 #row3 #col1, #row6 #row3 #col2, #row6 #row4 #col1
{
	width: 269px;
}
#row6 #row2 #col3, #row6 #row2 #col4, #row6 #row3 #col3, #row6 #row3 #col4
{
	width:179px;
}
#row6 #row2 #col4, #row6 #row3 #col4
{
	border-right:none;
}
#row6 #row4 #col2
{
	width:628px;
	border-right:none;
}
#row6 #row5 #col1
{
	width:449px;
	height:90px;
	margin:0;
	border-right:1px solid black;
	float:left;
	font-size: 10px;
	text-align: center;
}
#row6 #row5 #col2
{
	width: 430px;
	height: 70px;
	margin: 0;
	float: left;
	font-size: 8px;
	text-align: center;
	text-align: left;
	padding: 10px;
	line-height: 9px;
}
#damage_start, #damage_back1, #damage_back2
{
	  width: 354px;
  height: 65px;
}
#damage_start
{
	height: 115px;
	margin-bottom:2px;
}
.fuelindicator
{
	position: absolute;
  margin-top: 0px;
  margin-left: 6px;
}
.print:last-child {
     page-break-after: auto;
}
@media print {
    html, body {
        height: 99%;    
    }
}