body { margin:0; padding:0; font-family:Arial; font-size:13px; background:#037b00 url(../img/header_bg.png) repeat-x; }
h1 { margin:0; padding:15px 0; font-family: 'Open Sans Condensed', sans-serif; font-size:32px; }
div#header { position:relative; margin:0 auto; padding:0 20px; width:960px; height:124px; background:url(../img/header.png) center top no-repeat; }
	div#header #switchlg { position:absolute; right:0; top:5px; font-size:9px; color:#a0ca9c; }
	div#header ul { position:absolute; bottom:0; left:20px; margin:0; padding:0; height:29px; overflow:hidden; zoom:1; list-style:none; }
		div#header ul li { margin:0; padding:0; font-size:12px; float:left; }
			div#header ul li a { color:#fff; font-weight:bold; padding:0 20px 0 0; text-decoration:none; display:block; line-height:29px; height:29px; }
div#container { background:#fff; }
			div#header ul li a:hover { color:#f8d200; }
	div#container div#content { width:915px; margin:0 auto; padding:0 20px; overflow:hidden; zoom:1; }
	
		div#container div#content table { margin:10px 0; }
			div#container div#content table tr {  }
				div#container div#content table tr th { padding:15px 30px 15px 10px; text-align:left; background:#e8e8e8; }
				div#container div#content table tr td { padding:5px 30px 5px 10px; }
					div#container div#content table tr td.altrow { background:#fafafa; }
					div#container div#content table tr td img { border:0; }
		
		div#container div#content table.smaller {
			font-size:9px;
		}
		div#container div#content table.smaller tr th { padding:15px 10px 15px 10px; }
				div#container div#content table.smaller tr td { padding:5px 10px 5px 10px; }
		
		
	
		div#container div#content div#leftcol { float:left; width:565px; padding-right:50px; }
			div#container div#content div#leftcol dl { padding:10px 0; }
			div#container div#content div#leftcol div#addcar_box { border:1px solid #bfbfbf; background:#f4f4f4; margin:40px 0 50px 0; padding:0 10px; }
			
		div#container div#content div#rightcol { float:left; width:300px; }
			div#container div#content div#rightcol h2 { font-family: 'Open Sans Condensed', sans-serif; font-size:18px; margin:0; padding:15px 0 5px 0; }
			div#container div#content div#rightcol h3 { font-family: 'Open Sans Condensed', sans-serif; font-size:14px; margin:0; padding:5px 0 0 0; color:#363636; }
			div#container div#content div#rightcol h4 { font-family: 'Open Sans Condensed', sans-serif; font-size:12px; margin:0; padding:5px 0 0 0; color:#363636; }
			div#container div#content div#rightcol p { color:#484848; font-size:11px; padding:5px 0; }
			div#container div#content div#rightcol p img { padding:3px; border:1px solid #f3f3f3; }
	
	div#container div#content form, div#container div#content .form { margin:0; padding:0; width:500px; }
	div#container div#content form .cellLike, div#container div#content .form .cellLike { display:inline; float:left; width:120px; }
		div#container div#content form fieldset, div#container div#content .form fieldset { margin:15px 0; padding:10px; }
			div#container div#content form fieldset legend, div#container div#content .form fieldset legend { font-weight:bold; }
			div#container div#content form fieldset p, div#container div#content .form fieldset p { margin:5px 0; padding:5px 10px 5px 10px; }
				div#container div#content form fieldset p span.helpform, div#container div#content .form fieldset p span.helpform { font-size:10px; color:#484848; }
		div#container div#content form input.login_btn, div#container div#content .form input.login_btn { display:block; width:242px; height:45px; border:0; background:url(../img/connexion.png) no-repeat; text-indent:-9999px; }
	div#container div#content p { margin:0; padding:10px 0; }
	
	div#container div#content dl { margin:0; padding:0 10px; }
		div#container div#content dl dt { margin:0; padding:10px 5px 0 5px; color:#8b8b8b; font-style:italic; font-size:16px; background:#fafafa; }
			div#container div#content dl dt span { font-weight:bold; color:#000; font-style:normal; }
		div#container div#content dl dd { margin:0 0 15px 0; font-size:11px; padding:0 5px 10px 5px; background:#fafafa; }
			div#container div#content dl dd a { display:inline-block; margin-top:5px; font-size:12px; color:#037b00; text-decoration:none; background:url(../img/select_img.png) right center no-repeat; padding-right:25px; }
			
			
			div#container div#content dl dt.blocked {  color:#aaa; background:#fefefe; }
			div#container div#content dl dt.blocked span { color:#aaa; }
			div#container div#content dl dd.blocked { background:#fefefe; color:#aaa; }
	
div#footer { background:url(../img/footer_bg.png) repeat-x; height:75px; }

/* Autocomplete */
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.btn {
	display:inline-block;
	background:#037b00;
	border:1px solid #037b00;
	color:#fff;
	text-decoration:none;
}
.btn.big {
	font-size:18px;
	padding:5px 10px;
	
	}
input.big {
	font-size:18px;
	padding:5px 10px;
}

.sepblock {
	display:block;
	font-weight:bold;
	font-size:16px;
	margin:25px 0 15px 0;
	padding-top:15px;
	border-top:1px solid #bfbfbf;
	
}

input.parsley-error {
	border-color:#ff0000;
	border-bottom:4px solid #ff0000;
}
.parsley-errors-list {
	color:#ff0000;
}