input[type=submit], input[type=button]
{
	display:none;
}
input[type=text], textarea 
{
  border:none;
  outline:none;
}
.tohideprint
{
	display:none;
}
.headerrow {
	background-color:#e4e4e4 !important;
}