#row2 #col2 #row5 #col2 #row4, #row5 #col2 #row5 #col2 #row4 
{
	margin-left: 0;
}
output, .fuelindicator, input[name="startfuelamount"], input[name="backfuelamount"]
{
	display: block;
	display: none;
	opacity: 0;
}
#row3 #col1 .col1, #row3 #col2 .col2, #row3 #col3 .col3, #row3 #col4 .col4, #row3 #col5 .col5
{
	font-size:9px;
}